<!doctype html>
<html lang="en">
    <head>
        <title>CryptoPage</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

         
  

    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
    
    </head>

    <body>
      

    <main>

      <section id="Hero">
        <div class="hero-section" >
          <div class="container">
              <div class="row align-items-center">
                  <div class="col-lg-6">
                      <h1 class="display-4">¡Bienvenido a CryptoPage!</h1>
                      <p class="lead">Tu fuente confiable para obtener información sobre criptomonedas.</p>
                      <form>
                          <input type="email" class="form-control form-control-lg mb-2" placeholder="Ingresa tu correo electrónico" />
                          <button type="submit" class="btn btn-primary btn-lg">Suscribirse</button>
                      </form>
                  </div>
                  <div class="col-lg-6 text-center">
                      <img src="../../assets/img/laptop.png" alt="CryptoPage Image" class="img-fluid mb-3"  />
                  </div>
              </div>
          </div>
        </div>
      </section>
        
      <section id="SobreNosotros">
        <div class="about-us-section">
          <div class="container">
              <div class="row align-items-center">
                  <div class="col-lg-6">
                      <h2 class="display-4">Sobre Nosotros</h2>
                      <p class="lead">En CryptoPage, nos dedicamos a proporcionar información confiable y actualizada sobre el emocionante mundo de las criptomonedas. Nuestra misión es facilitar a nuestros usuarios el acceso a análisis de mercado, noticias relevantes y recursos educativos para que puedan tomar decisiones informadas en sus inversiones.</p>
                      <p>Con un equipo de expertos en finanzas y tecnología blockchain, nos esforzamos por ofrecer contenido de calidad que aborde las tendencias del mercado, las actualizaciones tecnológicas y los desarrollos más recientes en el panorama de las criptomonedas.</p>
                  </div>
                  <div class="col-lg-6 text-center">
                      <img src="../../assets/img/about-img.png" alt="Imagen de Nosotros" class="img-fluid" />
                  </div>
              </div>
          </div>
        </div>
      </section>
      

      <section class="fact-section bg-primary">
          <div class="container">
            <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="fact">
                  <i class="fas fa-globe"></i>
                  <h2>60</h2>
                  <p>PAISES DE SOPORTE</p>
                </div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="fact">
                  <i class="fas fa-exchange-alt"></i>
                  <h2>12K</h2>
                  <p>TRANSACCIONES POR HORA</p>
                </div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="fact">
                  <i class="fas fa-money-bill-wave"></i>
                  <h2>5B</h2>
                  <p>TRANSACCIONES TOTALES</p>
                </div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="fact">
                  <i class="fas fa-clock"></i>
                  <h2>240</h2>
                  <p>TIEMPO DE ACTIVIDAD</p>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="Noticias">
          <div class="container crypto-news-section">
            <div class="row">
                <!-- Noticia 1 -->
                <div class="col-md-4">
                    <div class="card crypto-news-card">
                        <img src="../../assets/img/noticia2.jpg" class="card-img-top" alt="Imagen Noticia 1">
                        <div class="card-body">
                            <h3 class="card-title">Bitcoin Alcanza Nuevas Alturas</h3>
                            <p class="card-text">El precio de Bitcoin experimenta un aumento significativo, alcanzando nuevos máximos históricos. Los analistas predicen un impacto positivo en el mercado de criptomonedas.</p>
                            <!-- Agrega cualquier información o botones adicionales aquí -->
                        </div>
                    </div>
                </div>
                <!-- Noticia 2 -->
                <div class="col-md-4">
                    <div class="card crypto-news-card">
                        <img src="../../assets/img/noticia1.jpg" class="card-img-top" alt="Imagen Noticia 2">
                        <div class="card-body">
                            <h3 class="card-title">Última Actualización de Ethereum</h3>
                            <p class="card-text">Ethereum anuncia su última actualización de protocolo, introduciendo mejoras de rendimiento y nuevas características. La comunidad blockchain espera con entusiasmo estos cambios.</p>
                            <!-- Agrega cualquier información o botones adicionales aquí -->
                        </div>
                    </div>
                </div>
                <!-- Noticia 3 -->
                <div class="col-md-4">
                    <div class="card crypto-news-card">
                        <img src="../../assets/img/noticia4.jpg" class="card-img-top" alt="Imagen Noticia 3">
                        <div class="card-body">
                            <h3 class="card-title">Auge de las Altcoins</h3>
                            <p class="card-text">Las altcoins experimentan un aumento en su popularidad y valor. Inversionistas exploran nuevas oportunidades en el mercado de criptomonedas más allá de las monedas principales.</p>
                            <!-- Agrega cualquier información o botones adicionales aquí -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
       
      
        <section class="newsletter-section bg-primary">
          <div class="container text-white">
            <div class="row">
              <div class="col-lg-7 newsletter-text">
                <h2>Suscríbete a nuestro Boletín</h2>
                <p>Regístrate para recibir nuestras actualizaciones semanales de la industria, perspectivas internas y análisis de mercado en profundidad.</p>
              </div>
              <div class="col-lg-5 col-md-8 offset-lg-0 offset-md-2">
                <form class="newsletter-form">
                  <input type="text" placeholder="Ingresa tu correo electrónico">
                  <button>Comenzar</button>
                </form>
              </div>
            </div>
          </div>
        </section>
       
        <section id="testimonios">
          <div class="container mt-5 testimonios">
            <div id="testimonialCarousel" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="testimonial-card">
                    <img src="../../assets/img/cliente1.jpg" alt="Testimonial 1 Image">
                    <h4>John Doe</h4>
                    <p>"Increíble plataforma para seguir las tendencias del mercado de criptomonedas. Con su interfaz intuitiva y herramientas analíticas, he logrado tomar decisiones informadas que han mejorado mi cartera."</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="testimonial-card">
                    <img src="../../assets/img/cliente2.jpg" alt="Testimonial 2 Image">
                    <h4>Jane Smith</h4>
                    <p>"Desde que comencé a utilizar esta plataforma, he experimentado un crecimiento significativo en mis inversiones. La variedad de información y las alertas en tiempo real son invaluables."</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="testimonial-card">
                    <img src="../../assets/img/cliente3.jpg" alt="Testimonial 3 Image">
                    <h4>Michael Johnson</h4>
                    <p>"Como alguien nuevo en el mundo de las criptomonedas, esta plataforma ha sido fundamental para entender los movimientos del mercado y planificar estrategias de inversión exitosas."</p>
                  </div>
                </div>
                <!-- Puedes agregar más testimonios según sea necesario -->
              </div>
              <a class="carousel-control-prev" href="#testimonialCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#testimonialCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </section>
        
      </main>
        
        
          
    
        
        
    </body>
</html>



