
<footer class="bg-primary text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="navbar-brand" >CryptoPage</h2>
                <p class="my-3">Tu fuente confiable para obtener información sobre criptomonedas.</p>
                
            </div>
            <div class="col-md-4">
                <h5 class="mb-4">Recursos</h5>
                <ul>
                    <li><a href="#">Cómo comprar criptomonedas</a></li>
                    <li><a href="#">Visión general de las criptomonedas</a></li>
                    <li><a href="#">Noticias del blog</a></li>
                    <li><a href="#">Cómo vender criptomonedas</a></li>
                    <li><a href="#">Adquirir el tema</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 class="mb-4">Enlaces Útiles</h5>
                <ul>
                    <li><a href="#">Preguntas frecuentes</a></li>
                    <li><a href="#">Términos de servicio</a></li>
                    <li><a href="#">Política de privacidad</a></li>
                    <li><a href="#">Soporte técnico</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
